<%-include("header") -%>
 <h1>Login</h1>
    <form action="/admin/login" method="GET">
        <input type="username" name="username" id="">
        <input type="password" name="password" id="">
        <input type="submit" value = "login">
    </form>

</div>
<%-include("footer") -%>