<!-- <section>Footer</section> -->
<footer class="footer-distributed">
  <div class="footer-left">
    <h3>Giving&Sharing<span> Trust</span></h3>

    <p class="footer-links">
      <a href="#" class="link-1">Home</a>

      <a href="#">Home</a>

      <a href="/about">About</a>

      <a href="/project">Projects</a>

      <a href="/volunteer">Volunteer</a>

      <a href="/donate">Donate</a>
    </p>

    <p class="footer-company-name">Giving&Sharing Trust© 2017</p>
  </div>

  <div class="footer-center">
    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>54, Vidisha Road 
          Ashoknagar(MP);
      </p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 9999999999</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="">support@gst.com</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>About the company</span>
      Giving and Sharing Trust is a Non-Government and Non-Profit making
      organization, established to work in the areas of Health, Education,
      relief of poor, and to provide amenities and facilities to those who can’t
      afford.
    </p>

    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      
    </div>
  </div>
</footer>
