
<footer>
    <div class="media-foo">
        <p class="foo-c ">copyright @ Giving & sharing trust</p>
    <p class="foo-s ">Design by Aditya & Harsh</p>
    <div class="foo-p ">
        <ul>
            <li><a href="">Donate Us</a></li>
            <li><a href="">Contact Developers</a></li>
            <li><a href="">Fraud Alert</a></li>
        </ul>
    </div>
    </div>
</footer>

