<%- include("header") -%>

<div class="middle">
    <h1>Home</h1>
    <img 
    class="home-img"
    src="https://i1.wp.com/drishtifoundation.org/wp-content/uploads/2021/02/DFT_0025-scaled.jpg?resize=768%2C512&ssl=1" 
    alt="">
    <h2 class="home-heading">"Our focus is to provide the resources from those who have it to those who need it the most"</h2>
    <p class="home-p"> This is group is made for those sad and weak people,to pay schools fees of those poor but very intellectual children,
        to serve and for the medical treatment of domestic animals, to provide warm cloths for those who sleeps on footpath,railwaystation in the middle of winter,
        and for all those needy ones who need any kind of help in their bad situations.
        we are working for a world where all people live in dignity and security. 
        To complete a journey, we must step forward first. 
        We continue to do our duty quietly and relentlessly and try our level best to solve the problems of the society without any hue and cry. 
        Our aim is to wipe out the tears of those poor as we do our own.
    </p>
    <p class="home-p">Giving and Sharing Trust is a Non-Government and Non-Profit making organization, established to work in the areas of Health, Education, relief of poor, and to provide amenities and facilities to those who can’t afford.</p>
    <p class="home-p">we are working since 2018 on small scale in Ashoknagar district of Madhya-pardesh and helping peoples of near
        remotes areas as much we can but if more peoples connects then soon we'll be able to 
        more and more people around the state </p>
</div>

    <!-- <form action="/project/create" method="POST" enctype="multipart/form-data">
        <input type="file" name = "image" placeholder="upload image" > 
        <input type="text" name="title" id="">
        <input type="text" name="body" id="">
        <input type="submit" name="" id="">

    </form> -->
    <!-- <form action="/admin/login" method="POST">
        <input type="text" name="username" id="">
        <input type="text" name="password" id="">
        <input type="submit" value="Create">
    </form> -->

<%- include("footer") -%>