<%-include("header") -%>
 
<div class="middle">
    <h1>Mission and Vision</h1>
    <img 
    class="mission-img"
    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmjYgpDnFT5mWpYQl4GvdwLS5M9AVDccAGNw&usqp=CAU" 
    alt="">
    <div class="mission">
        <h2>OUR VALUES</h2>
        <p class="home-p">Our Values reflects who we are and what we stand for as Organization</p>
        <hr>
        <h2>Commitment</h2>
        <p class="home-p">We develop a relationship that make a positive difference in the lives of our beneficiaries.</p>
        <hr class="dothr">
        <h2>Quality</h2>
        <p class="home-p">We provide outstanding services and care and that, together, deliver happiness to our beneficiaries.</p> 
        <hr class="dothr">
        <h2>Integrity</h2>   
        <p class="home-p">We uphold the highest standard of Integrity in all of our actions.</p>
    </div>
</div>

<%-include("footer") -%>