<%-include("header") -%>
 
<div class="middle">
    <h1>Our Story</h1>
    <img 
    class="story-img"
    src="https://aaryaksolutions.com/images/blog/1.jpg" 
    alt="" />
    
    <p class="home-p"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in risus ullamcorper,
         tristique arcu ac, consequat tellus. Nunc risus nunc, suscipit vestibulum libero nec, rhoncus ultrices mauris. 
         Aenean eleifend laoreet velit. Ut posuere ex eu magna consequat, quis tincidunt lacus venenatis. Integer in odio ut turpis porta aliquet pellentesque at sem. 
         Aenean aliquam cursus arcu nec tincidunt. Praesent risus felis, rutrum id mauris non, porttitor iaculis leo.
    </p>
    <p class="home-p">Giving and Sharing Trust is a Non-Government and Non-Profit making organization, established to work in the areas of Health, Education, relief of poor, and to provide amenities and facilities to those who can’t afford.</p>
    <p class="home-p">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, 
        or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, 
        you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet
         tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, 
         combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, 
         injected humour, or non-characteristic words etc. </p>
</div>
<%-include("footer") -%>