<%-include("header") -%>
 
<div class="middle">
    <h1>Our Commitee Members</h1>
    
    <div class="team lead">
    <img 
    class="member-img"
    src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" 
    alt="">
    
    <h1 class="mem-name">Name</h1>
    <p class="mem-about">The Founding member & Guiding light of Giving & Sharing Trust.  He is equipped with his years of experience in Media, Journalism, Social Activism and CSR consultancy. His vision is to play a formative role in the upliftment of society and the under-privileged sections at large. He continues to lead a role from the planning of social activities to their execution on routine basis.  He has closely worked with different Media outfits and has been associated with various intellectuals from the field of Politics, Bureaucrats, Journalism, and other Social Activists alike.</p>
    </div>

    <div class="team">
        <img 
    class="member-img"
    src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" 
    alt="">
    
    <h1 class="mem-name">Name</h1>
    </div>
    
    
</div>
<%-include("footer") -%>