<link rel="stylesheet" href="/css/styles.css">
<div class="thankyou-page">
  <div class="thank-box">
    <img src="/images/GST.png" class="logo"/>
    <h2>Thank You So Much</h2>
    <p>
      Thank you for your generous gift to GST. We are thrilled to have your
      support.Through your donation we have been able to help the needy and will
      continue working towards the purpose of our organization You truely make
      the difference for us,We are Extremely greateful!
    </p>
    <span>Keep Supporting us</span>
    <hr>
</div>
<a href="/" id="go-home">Home page</a>
