<div>
    <h1>
        Hii <%= Voulenteer.name%> your response has been recorded .
    </h1>
    <br>

    <p>
        Thankyou for showing intrest in the <%Voulenteer.category%> category .
        
    </p>
    <h3>Soon Our team will contact you in the given number </h3>

    <h4>Thanks! </h4>
    <h4>GST Group</h4>
</div>