body {
  background-color: white;
  text-align: center;
  background-color: white;
  background-image: url('https://www.transparenttextures.com/patterns/cubes.png');
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
/* Top-section */
.name {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}
.links,
h1,
h2 {
  font-family: 'Merriweather', serif;
}
.logo {
  width: 20%;
  height: 20%;
}
.social-bar {
  width: 100%;
  text-align: center;
  margin-top: 5%;
  padding: 2%;
  background-color: black;
  font-size: 1.5rem;
  height: auto;
}
.i {
  color: white;
  margin-right: 10px;
  margin-left: 10px;
}
.i:hover {
  color: #c8c6c6;
  font-size: 2rem;
}

.nav-div {
  width: 70%;
  margin: 3rem auto;
  font-size: 1.5rem;
  text-align: center;
}

.navbar-brand {
  font-size: 3rem;
  margin-right: 3rem;
}
.nav-item {
  margin-right: 2rem;
}
.nav-item:hover {
  box-shadow: 0 0 5px black;
  background-color: #c9ccd5;
  border-radius: 10px;
}
.middle {
  width: 80%;
  margin: 3% 10%;
  text-align: left;
}

/* home-page  and story section*/
.home-img {
  width: 50%;
  height: 55%;
  border: none;
  border-radius: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.home-heading {
  width: 90%;
  height: auto;
  margin: 2% 5%;
  padding-top: 1rem;
  font-size: 2rem;
  font-family: 'Merriweather', serif;
}
.home-p {
  font-size: 1.5rem;
  line-height: 1.5;
}
/* Story Section */
.story-img {
  width: 100%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  padding: 10px;
  margin: 2rem 0;
}

/* Team Section */
.team {
  margin: 5%;
  width: 80%;
  height: 50%;
  box-shadow: 0 0 5px black;
  display: flex;
  padding: 10px;
  border-radius: 10px;
}
#lead {
  background-color: #d1e8e4;
  padding: 2px;
  font-weight: bold;
  font-style: italic;
}
.left {
  width: 40%;
  height: 100%;
  text-align: center;
  margin: auto;
}
.right {
  text-align: center;
  width: 80%;
  height: 100%;
  line-height: 1.75;
  font-size: large;
}
.member-img {
  width: 60%;
  height: 60%;
}
.other-mem {
  width: 80%;
  height: 20%;
  margin: 5%;
  text-align: center;
  box-shadow: 0 0 5px black;
  background-color: #ddbebe;
  padding: 10px;
  border-radius: 10px;
}
.carou {
  width: 60%;
  margin: auto;
}

.carou .member-img {
  width: 40%;
  height: 40%;
}

/* Mission-vission Section */
.mission {
  text-align: center;
  margin: 10%;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
}
.mission-img {
  width: 100%;
  border-radius: 10px;
}

/* Project-Section */
.projects-section {
  width: 80vw;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.project-img {
  width: 90%;
  height: 80%;
  margin: 10px auto;
}
.form-section {
  width: 60%;
  height: auto;
  margin: 5% auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #d7e9f7;
}
.form {
  width: 60%;
  height: auto;
  text-align: left;
  margin: 10% auto;
}
.card {
  box-shadow: 0 0 10px grey;
  width: 30vw;
  margin: 10px;
}
/* Volunteer */
.volunteer-img {
  width: 100%;
}
.abt-volunteer {
  margin: 5rem 0;
}
.card-img {
  width: 50%;
  height: 50%;
  margin: auto;
}
.frow {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
}
/* footer-section */
footer {
  background-color: #261c2c;
  color: white;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 5rem;
  margin-top: 5rem;
}
.foo-p {
  display: flex;
  flex-direction: column;
  margin: 5px;
  left: 5rem;
  font-size: 1 rem;
  color: white;
  line-height: 2;
  width: auto;
}
.foo-c {
  position: absolute;
  right: 5%;
  font-size: 1rem;
  width: auto;
}
.foo-s {
  position: absolute;
  right: 40%;
  width: auto;
}
/* hr {
  border-style: dotted none none;
  border-width: 6px;
  border-color: black;
  width: 10%;
  margin: 50px auto;
} */
/* Donate Section */
#donate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  z-index: 0;
}
.donate-left {
  width: 40%;
  margin: 5% 5%;
  text-align: left;
}
#donate-right {
  width: 50%;
  margin-left: 5px;
  display: flex;
  flex-direction: column;
}
#donate-form {
  /* display: flex;
  flex-direction: column; */
  text-align: left;
  margin-top: 5%;
}
.input {
  width: 70%;
  height: auto;
  margin: 5px auto;
}
.form-btm {
  margin-bottom: 0;
  text-align: center;
}
.visa-img {
  width: 50%;
  height: 60%;
  margin-top: 1.2rem;
}
.donate-btn {
  margin-top: 1.2rem;
}

#confirm {
  width: 55%;
  height: auto;
  z-index: 1;
  position: absolute;
  top: 70%;
  left: 25%;
  box-shadow: 5px 5px 5px 5px #595260;
  visibility: hidden;
  align-items: center;
  border-radius: 10px;
}
#confirm-container {
  width: auto;
  margin: auto;
  margin-top: 5%;
  align-items: center;
  
}
.con-top{
align-items: center;
display: flex;
flex-direction: column;
}

/* ThankYou page */
.thankyou-page {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top:10%;
}
.thank-box {
  width: 50%;
  height: auto;
  margin: auto;
  border-radius: 15px;
  text-align: center;
  padding:10px;

}
#go-home{
  text-decoration: none;
  font-size: 1rem;
  border: 1px solid black;
  padding:10px;
  background-color:#5C7AEA;
  color:white;
  border-radius: 5px;
}
#go-home:hover{
  background-color: #3D56B2;
}
/* media-query */
/* @media (max_width:1500px) {
    .media-foo{
        text-align: center;
    }
}  */
/* @media screen and (max-width: 900px) {
  .projects-section{
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card{
    width: 40vw;
  }
} */
@media screen and (max-width: 700px) {
  .projects-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 70vw;
  }
}
@media screen and (max-width: 600px) {
  .mission {
    margin: 2%;
    margin-top: 5%;
  }
}
